(static) {
	@static {
		file
		path *.ico *.css *.js *.gif *.jpg *.jpeg *.png *.svg *.woff *.woff2
	}
	header @static Cache-Control max-age=5184000
}

si.bitcrafter.net {
	import static
	encode zstd gzip

	handle_path /static/* {
		root * /home/ubuntu/spirit-island/static/
		file_server
	}

	handle_path /screenshot/* {
		root * /home/ubuntu/spirit-island/screenshot/
		file_server
	}

	handle {
		reverse_proxy localhost:8000
	}

}
