si.bitcrafter.net {
	encode zstd gzip

	handle_path /static/* {
		root * /home/ubuntu/spirit-island/static/
		file_server
		header Cache-Control max-age=5184000
	}

	handle_path /screenshot/* {
		root * /home/ubuntu/spirit-island/screenshot/
		file_server
		header Cache-Control max-age=5184000
	}

	handle {
		reverse_proxy localhost:8000
		header Cache-Control max-age=0
	}
}
