[tool.poetry]
name = "spirit-island"
version = "0.1.0"
description = ""
authors = ["Nathan Jones <nathanj439@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.8"
Django = "^4.0.1"
django-debug-toolbar = "^3.2.4"
Pillow = "^9.0.0"
django-ninja = "^0.16.1"
gunicorn = "^20.1.0"
python-dotenv = "^0.19.2"
"discord.py" = "^2.3.2"
requests = "^2.0.0"
structlog = "^21.5.0"
redis = "^4.2.0"
django-prometheus = "^2.2.0"
discord = "^2.3.2"
async-timeout = "^4.0.3"
load-dotenv = "^0.1.0"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
