[tool.poetry]
name = "spirit-island"
version = "0.1.0"
description = ""
authors = ["Nathan Jones <nathanj439@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.10"
Django = "^5.0.0"
django-cleanup = "^9.0.0"
Pillow = "^11.0.0"
django-ninja = "^1.0.0"
gunicorn = "^23.0.0"
python-dotenv = "^1.0.0"
"discord.py" = "^2.5.0"
requests = "^2.0.0"
# structlog uses calendar versioning,
# so using ^ is unnecessarily restrictive
structlog = ">= 25.1.0"
# 6.0.0 and above only officially supports Redis 7.2, 7.4, and 8.0.
# We've unofficially observed that it will still work for older versions,
# but need more data before being able to rely on this.
# We don't need the token auth functionality of 5.3.0,
# and it introduces a dependency on pyjwt that we don't need,
# so we'll skip that to keep fewer dependencies.
redis = "~5.2"
django-prometheus = "^2.2.0"
# TODO: remove this dependency once all installations are using Python 3.11,
# since 3.11 has asyncio.timeout in the standard library
# will need to first migrate bot.py to use the standard library
async-timeout = "^5.0.0"

[tool.poetry.group.dev.dependencies]
# django-debug-toolbar 6.0.0 is released,
# but trying to view a spirit's tab results in a SuspiciousFileOperation,
# so this will have to be resolved before upgrading to that version
django-debug-toolbar = "^5.0.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
