[Unit]
Description=Spirit Island web site

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/spirit-island/
ExecStart=/home/ubuntu/spirit-island/run.sh

[Install]
WantedBy=default.target
