[Unit]
Description=Spirit Island discord bot
Wants=redis-server.service

[Service]
User=si
Group=si
WorkingDirectory=/home/ubuntu/spirit-island/
ExecStart=/home/ubuntu/spirit-island/run-bot.sh

[Install]
WantedBy=default.target
