{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="viewport" content="width=device-width" />

    <title>{% if game %}{{game.name}} - {% endif %}Spirit Island</title>

    <link href="{% static 'pbf/halfmoon-variables.min.css' %}" rel="stylesheet" />
    <link href="{% static 'pbf/dropdown.css' %}" rel="stylesheet" />
    <link href="{% static 'pbf/sipbp.v1.css' %}" rel="stylesheet" />
  </head>

  <body data-set-preferred-mode-onload="true">

    <div class="page-wrapper">
      <div class="content-wrapper">
	{% block main %}{% endblock %}
      </div>

    </div>

    <script src="{% static 'pbf/halfmoon.min.js' %}"></script>
    <script src="{% static 'pbf/htmx.org@2.0.6.js' %}"></script>
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
	event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
    </script>
  </body>
</html>
