{% load static %}
<div id="spirit-color-{{player.id}}"
     class="pt-200"
     hx-target="#spirit-color-{{player.id}}"
     hx-swap="outerHTML"
     hx-indicator="#color-spinner">
  <p>
  <form hx-post="{% url 'change_player_color' player.id %}">
    <abbr title="Change this to show the player color in the spirit tabs at the top of the page.">Color</abbr>:
    <select name="color" style="background-color: {{player.circle_color}};" onChange="this.style.backgroundColor = this.options[this.selectedIndex].style.backgroundColor">
      {% for color, freq, code in player.game.color_freq %}
      {# We DO show in-use colours here, but with a clear warning. #}
      {# If a host wants to assign duplicate colours despite the warning, they're free to. #}
      <option style="background-color: {{code}};" value="{{color}}" {% if color == player.color %}selected{% endif %}>{{color.capitalize}}{% if freq > 0 and color != player.color %} (IN USE!){% endif %}</option>
      {% endfor %}
    </select>
    <button class="btn" hx-post="{% url 'change_player_color' player.id %}">Change</button>
    {% if success %}color changed! Reload the page to see.{% endif %}
    <img id="color-spinner" class="htmx-indicator" src="{% static "pbf/bars.svg" %}"/>
  </form>
</div>
