{% load static %}
<div id="spirit-elements-{{player.id}}">
  <p>

  <abbr title="Click the element to add a temporary element that will be discarded at the end of the turn. Click the number in parentheses to decrease the number.">Element Tracker</abbr>:

  {% for elt, total, temp in player.total_and_temporary_elements %}
  <a hx-get="{% url 'add_element' player.id elt %}" style="cursor: pointer">
  {% with "pbf/element-"|add:elt|add:".png" as elt_img %}<img src="{% static elt_img %}" alt="{{elt}}" style="width: 1.8em; height: 1.8em" />{% endwith %}
  <span style="font-size: 2em;">{{ total }}</span>
  </a>
  {% if temp > 0 %}<a style="color: gray; font-size: 0.8em; cursor: pointer;" hx-get="{% url 'remove_element' player.id elt %}">(+{{temp}})</a>{% endif %}
  <span style="padding-right: 1em"></span>
  {% endfor %}

  <br />

  <abbr title="Click the element to add a permanent element that will not be discarded at the end of the turn. Click the number in parentheses to decrease the number.">Permanent Elements</abbr>:

  {% for elt, perm in player.permanent_elements.items %}
  <a hx-get="{% url 'add_element_permanent' player.id elt %}" style="cursor: pointer">
  {% with "pbf/element-"|add:elt|add:".png" as elt_img %}<img src="{% static elt_img %}" alt="{{elt}}" style="width: 1.8em; height: 1.8em" />{% endwith %}
  <span style="font-size: 2em;">{{ perm }}</span>
  </a>
  {% if perm > 0 %}<a style="color: gray; font-size: 0.8em; cursor: pointer;" hx-get="{% url 'remove_element_permanent' player.id elt %}">(+{{perm}})</a>{% endif %}
  <span style="padding-right: 1em"></span>
  {% endfor %}

  </p>
</div>
