{% load static %}
<div id="spirit-energy-{{player.id}}"
     class="pt-200"
     hx-target="#spirit-energy-{{player.id}}"
     hx-swap="outerHTML"
     hx-indicator="#energy-spinner">
  Energy: {{ player.energy }} 
  <button class="btn" hx-get="{% url 'change_energy' player.id '1' %}">+1</button>
  <button class="btn" hx-get="{% url 'change_energy' player.id '-1' %}">-1</button>
  {% if player.gained_this_turn %}
    Gained!
  {% else %}
    <button class="btn" hx-get="{% url 'gain_energy' player.id %}">Gain Energy ({{player.get_gain_energy}})</button>
  {% endif %}
  {% if player.paid_this_turn %}
    Paid!
  {% else %}
    <button class="btn" hx-get="{% url 'pay_energy' player.id %}">Pay Cost ({{player.get_play_cost}})</button>
  {% endif %}
  <span id="energy-spinner"><img src="{% static "pbf/bars.svg" %}" /></span>

  {% if player.spirit_specific_resource_name %}
    <div>
      {{player.spirit_specific_resource_name}}:

        {{player.spirit_specific_resource}}
        {% if player.increment_decrement_specific_resource %}
          <button class="btn" hx-get="{% url 'change_spirit_specific_resource' player.id '1' %}">+1</button>
          <button class="btn" hx-get="{% url 'change_spirit_specific_resource' player.id '-1' %}">-1</button>
        {% endif %}

      {% if player.spirit.name == 'Rot' %}
        {% if player.rot_gained_this_turn %}
          Gained!
        {% else %}
          <button class="btn" hx-get="{% url 'gain_rot' player.id %}">Gain Rot ({{player.rot_gain}})</button>
        {% endif %}
        {% if player.rot_converted_this_turn %}
          Converted!
        {% else %}
          <button class="btn" hx-get="{% url 'convert_rot' player.id %}">Convert Rot (-{{player.rot_loss}} Rot, +{{player.energy_from_rot}} Energy)</button>
        {% endif %}
      {% endif %}
    </div>
  {% endif %}
</div>

