{% load static %}
<div id="spirit-energy-{{player.id}}"
     class="pt-200"
     hx-target="#spirit-energy-{{player.id}}"
     hx-swap="outerHTML"
     hx-indicator="#energy-spinner">
  <p>
    Energy: {{ player.energy }} 
    <button class="btn" hx-get="{% url 'change_energy' player.id 1 %}">+1{% if player.remaining_bargain_cost > 0 %} (⚠️ debt){% endif %}</button>
    <button class="btn" hx-get="{% url 'change_energy' player.id -1 %}">-1</button>
    {% if player.gained_this_turn %}
      Gained!
    {% else %}
      <button class="btn" hx-get="{% url 'gain_energy' player.id %}">Gain Energy ({{player.get_gain_energy}}{% if player.remaining_bargain_cost > 0 %} - {% if player.remaining_bargain_cost > player.get_gain_energy %}{{player.get_gain_energy}}{% else %}{{player.remaining_bargain_cost}}{% endif %}{% endif %})</button>
    {% endif %}
    {% if player.paid_this_turn %}
      Paid!
    {% else %}
      <button class="btn" hx-get="{% url 'pay_energy' player.id %}">Pay Cost ({{player.get_play_cost}})</button>
    {% endif %}

    {% if player.game.scenario == "Blitz" %}
      (costs adjusted for Blitz)
    {% endif %}

    {{ player.last_unready_energy_friendly }} at turn start{% if player.ready %}, {{ player.last_ready_energy }} when readied{% endif %}

    <span id="energy-spinner" class="htmx-indicator"><img src="{% static "pbf/bars.svg" %}" /></span>
  </p>

  {% if player.bargain_cost_per_turn or player.bargain_in_play %}
  <p{% if player.spirit_specific_resource_gives_energy %} hx-target="#spirit-energy-and-resource-{{player.id}}"{% endif %}>
  Bargain cost: {{ player.bargain_paid_this_turn }} paid this turn / {{ player.bargain_cost_per_turn }} per turn
  <button class="btn" hx-get="{% url 'change_bargain_paid_this_turn' player.id 1 %}" {% if player.remaining_bargain_cost <= 0 %}disabled{% endif %}>+1 paid</button>
  <button class="btn" hx-get="{% url 'change_bargain_paid_this_turn' player.id -1 %}" {% if player.bargain_paid_this_turn <= 0 %}disabled{% endif %}>-1 paid</button>
  <button class="btn" hx-get="{% url 'change_bargain_cost_per_turn' player.id 1 %}">+1 cost</button>
  <button class="btn" hx-get="{% url 'change_bargain_cost_per_turn' player.id -1 %}">-1 cost</button>
  </p>
  {% endif %}
</div>

