{% load static %}
<div id="spirit-energy-{{player.id}}"
     class="pt-200"
     hx-target="#spirit-energy-{{player.id}}"
     hx-swap="outerHTML"
     hx-indicator="#energy-spinner">
  Energy: {{ player.energy }} 
  <button class="btn" hx-get="{% url 'change_energy' player.id '1' %}">+1</button>
  <button class="btn" hx-get="{% url 'change_energy' player.id '-1' %}">-1</button>
  <button class="btn" hx-get="{% url 'pay_energy' player.id %}">Pay Cost ({{player.get_play_cost}})</button>
  <span id="energy-spinner"><img src="{% static "pbf/bars.svg" %}" /></span>
</div>

