{% extends "base.html" %}

{% load static %}

{% block main %}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-9">
      <div class="content">

	{% if game.screenshot %}
	<a href="{{ game.screenshot.url }}">
	  <img src="{{ game.screenshot.url }}" class="img-fluid" id="ss1" />
	</a>
	{% endif %}

	{% if game.screenshot2 %}
	<a href="{{ game.screenshot2.url }}">
	  <img src="{{ game.screenshot2.url }}" class="img-fluid" id="ss2" />
	</a>
	{% endif %}

	{% if game.gameplayer_set.count > 0 %}
	<div id="tabs" hx-get="{% url 'tab' game.id tab_id %}" hx-trigger="load after:100ms" hx-target="#tabs" hx-swap="innerHTML"></div>
	{% endif %}

	<hr />

	<h3>Host Actions:</h3>

	<form enctype="multipart/form-data" method="post" action="{% url 'add_screenshot' game.id %}">
	  {% csrf_token %}
    {% if spirit_spec %}<input type="hidden" name="spirit_spec" value="{{spirit_spec}}">{% endif %}
	  <input type="file" name="screenshot" accept="image/*" id="id_screenshot">
	  <button type="submit" class="btn">Upload Screenshot</button>
	</form>

	<form enctype="multipart/form-data" method="post" action="{% url 'add_screenshot' game.id %}">
	  {% csrf_token %}
    {% if spirit_spec %}<input type="hidden" name="spirit_spec" value="{{spirit_spec}}">{% endif %}
	  <input type="file" name="screenshot2" accept="image/*" id="id_screenshot2">
	  <button type="submit" class="btn">Upload Screenshot 2</button>
	</form>

  <form id="host-draw" hx-swap="afterend" hx-indicator="#host-draw-spinner">
    {# csrf_token not needed because we've configured HTMX to send the token in the header #}
    Discard top <input type="number" name="num_cards" min="1" max="100" value="{{game.gameplayer_set.count}}" />
    <select name="type">
      <option value="minor">minor</option>
      <option value="major">major</option>
    </select>
    power cards:
    <button type="submit" class="btn" hx-post="{% url 'draw_cards' game.id %}">Discard</button>
    <span id="host-draw-spinner" class="htmx-indicator"><img src="{% static "pbf/bars.svg" %}" /></span>
  </form>

  <p><a href="{% url 'game_setup' game.id %}">Game setup</a></p>

  <p><a href="/api/game/{{ game.id }}">Game data</a> (can be downloaded for backup or history purposes)</p>

      </div>
    </div>

    <div class="col-lg-3">
      <div class="content">
	<button class="btn" type="button" onclick="halfmoon.toggleDarkMode()">Dark Mode</button>
      </div>
      {% include "logs.html" %}
    </div>
  </div>
</div>

{% endblock %}
