{% extends "base.html" %}

{% block main %}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-9">
      <div class="content">

	{% if game.screenshot %}
	<a href="{{ game.screenshot.url }}">
	  <img src="{{ game.screenshot.url }}" class="img-fluid" id="ss1" />
	</a>
	{% endif %}

	{% if game.screenshot2 %}
	<a href="{{ game.screenshot2.url }}">
	  <img src="{{ game.screenshot2.url }}" class="img-fluid" id="ss2" />
	</a>
	{% endif %}

	{% if game.gameplayer_set.count > 0 %}
	<div id="tabs" hx-get="{% url 'tab' game.id game.gameplayer_set.first.id %}" hx-trigger="load after:100ms" hx-target="#tabs" hx-swap="innerHTML"></div>
	{% endif %}

	<hr />

  <div id="minor-deck" hx-target="#minor-deck" hx-swap="outerHTML">
    <button class="btn" hx-get="{% url 'minor_deck' game.id %}">Show minor deck</button>
  </div>

  <div id="major-deck" hx-target="#major-deck" hx-swap="outerHTML">
    <button class="btn" hx-get="{% url 'major_deck' game.id %}">Show major deck</button>
  </div>

	<hr />

	<h3>Host Actions:</h3>

	<form enctype="multipart/form-data" method="post" action="{% url 'add_screenshot' game.id %}">
	  {% csrf_token %}
	  <input type="file" name="screenshot" accept="image/*" id="id_screenshot">
	  <button type="submit" class="btn">Upload Screenshot</button>
	</form>

	<form enctype="multipart/form-data" method="post" action="{% url 'add_screenshot' game.id %}">
	  {% csrf_token %}
	  <input type="file" name="screenshot2" accept="image/*" id="id_screenshot2">
	  <button type="submit" class="btn">Upload Screenshot 2</button>
	</form>

	<form method="post" action="{% url 'add_player' game.id %}">
	  {% csrf_token %}
	  <select name="spirit">
	    {% for spirit in spirits %}
	    <option value="{{spirit}}">{{spirit}}</option>
	    {% endfor %}
	  </select>
	  <select name="color">
	    <option value="random">Random color</option>
	    {% for color in game.available_colors %}
	    <option value="{{color}}">{{color.capitalize}}</option>
	    {% endfor %}
	  </select>
	  <button type="submit" class="btn" >Add Spirit</button>
	</form>

	<form method="post" action="{% url 'draw_card' game.id 'minor' %}">
	  {% csrf_token %}
	  <button type="submit" class="btn">Draw Minor Power ({{ game.minor_deck.all | length }})</button>
	</form>

	<form method="post" action="{% url 'draw_card' game.id 'major' %}">
	  {% csrf_token %}
	  <button type="submit" class="btn">Draw Major Power ({{ game.major_deck.all | length }})</button>
	</form>

      </div>
    </div>

    <div class="col-lg-3">
      <div class="content">
	<button class="btn" type="button" onclick="halfmoon.toggleDarkMode()">Dark Mode</button>
      </div>
      {% include "logs.html" %}
    </div>
  </div>
</div>

{% endblock %}
