{% load static %}
<div id="spirit-image-{{player.id}}"
     class="content"
     hx-target="#spirit-image-{{player.id}}"
     hx-swap="outerHTML">
  <div class="spirit-image">
    <div style="position: relative">
      {% for presence in player.presence_set.all %}
      <a style="cursor: pointer" hx-post="{% url 'toggle_presence' player.id presence.left presence.top %}">
	<img style="position: absolute; left: {{presence.left}}px; top: {{presence.top}}px; opacity: {{presence.opacity}};" src="{% static player.disk_url %}" width="90" height="90" />
      </a>
      {% endfor %}
      {% if player.aspect %}
      <img style="position: absolute; left: {{player.aspect_left}}px; top: {{player.aspect_top}}px;" src="{% static player.aspect_url %}" width="370" height="230" />
      {% endif %}
      <img src="{% static player.spirit.url %}" width="957" height="630" />
    </div>
  </div>

  <button class="btn"
	  hx-get="{% url 'ready' player.id %}"
	  style="background-color: {% if player.ready %}#8a8{% else %}#a88{% endif %};"
	  >{% if player.ready %}Ready{% else %}Not Ready{% endif %}</button>

  <br/>

  {% include "elements.html" %}
  {% include "energy.html" %}

  {% if player.selection.count > 0 %}
  <p>
  <h4>Selection:</h4>
  <ul>
    <div class="container-fluid">
      <div class="row">
	{% for card in player.selection.all %}
	<div class="col-auto">
	  <div class="w-200 mw-full">
	    <div class="card p-0 m-15">
	      <img src="{% static card.url %}" class="img-fluid rounded-top" alt="{{card.name}}">
	      <div class="text-center pb-5">
		<button class="btn" hx-get="{% url 'choose_card' player.id card.id %}">Choose</button>
		{% if player.spirit.name == 'Fractured' %}
		<button class="btn" hx-get="{% url 'send_days' player.id card.id %}">Send to Days</button>
		{% endif %}
	      </div>
	    </div>
	  </div>
	</div>
	{% endfor %}
      </div>
    </div>
  </ul>
  {% else %}
  <p>Gain Minor: <button class="btn" hx-get="{% url 'gain_power' player.id 'minor' '4' %}">4 Cards</button> <button class="btn" hx-get="{% url 'gain_power' player.id 'minor' '6' %}">6 Cards</button>
  <p>Gain Major: <button class="btn" hx-get="{% url 'gain_power' player.id 'major' '4' %}">4 Cards</button> <button class="btn" hx-get="{% url 'gain_power' player.id 'major' '2' %}">2 Cards</button>
  {% endif %}

  <p>
  <h4>Play/Hand:</h4>
  <ul>
    <button class="btn" hx-get="{% url 'discard_all' player.id %}">Discard All Played</button>

    <div class="container-fluid">
      <div class="row">
	{% for card in player.play.all %}
	<div class="col-auto">
	  <div class="w-200 mw-full">
	    <div class="card p-0 m-15" style="background-color: #040;">
	      <img src="{% static card.url %}" class="img-fluid rounded-top" alt="{{card.name}}">
	      <div class="text-center pb-5">
		<button class="btn" hx-get="{% url 'unplay_card' player.id card.id %}">Unplay</button>
		<button class="btn" hx-get="{% url 'discard_card' player.id card.id %}">Discard</button>
		<button class="btn" hx-get="{% url 'forget_card' player.id card.id %}" hx-confirm="Are you sure?">Forget</button>
	      </div>
	    </div>
	  </div>
	</div>
	{% endfor %}
	{% for card in player.hand.all %}
	<div class="col-auto">
	  <div class="w-200 mw-full">
	    <div class="card p-0 m-15">
	      <img src="{% static card.url %}" class="img-fluid rounded-top" alt="{{card.name}}">
	      <div class="text-center pb-5">
		<button class="btn" hx-get="{% url 'play_card' player.id card.id %}">Play</button>
		<button class="btn" hx-get="{% url 'discard_card' player.id card.id %}">Discard</button>
		<button class="btn" hx-get="{% url 'forget_card' player.id card.id %}" hx-confirm="Are you sure?">Forget</button>
	      </div>
	    </div>
	  </div>
	</div>
	{% endfor %}
      </div>
    </div>
  </ul>

  <p>
  <h4>Discard:</h4>
  <ul>
    {% if player.discard.count > 0 %}
    <button class="btn" hx-get="{% url 'reclaim_all' player.id %}">Reclaim All</button>
    {% endif %}


    <div class="container-fluid">
      <div class="row">
	{% for card in player.discard.all %}
	<div class="col-auto">
	  <div class="w-200 mw-full">
	    <div class="card p-0 m-15">
	      <img src="{% static card.url %}" class="img-fluid rounded-top" alt="{{card.name}}">
	      <div class="text-center pb-5">
		<button class="btn" hx-get="{% url 'reclaim_card' player.id card.id %}">Reclaim</button>
		<button class="btn" hx-get="{% url 'forget_card' player.id card.id %}" hx-confirm="Are you sure?">Forget</button>
	      </div>
	    </div>
	  </div>
	</div>
	{% endfor %}
      </div>
    </div>

  </ul>

  {% if player.spirit.name == 'Fractured' %}
  <p>
  <h4>Days That Never Were:</h4>
  <ul>
    <div class="container-fluid">
      <div class="row">
	{% if player.days_ordered.count == 0 %}
	<button class="btn" hx-get="{% url 'create_days' player.id 6 %}">Create Days (1 or 2 player game)</button><br>
	<button class="btn" hx-get="{% url 'create_days' player.id 4 %}">Create Days (3+ player game)</button>
	{% else %}
	{% for card in player.days_ordered.all %}
	<div class="col-auto">
	  <div class="w-200 mw-full">
	    <div class="card p-0 m-15">
	      <img src="{% static card.url %}" class="img-fluid rounded-top" alt="{{card.name}}">
	      <div class="text-center pb-5">
		<button class="btn" hx-get="{% url 'choose_days' player.id card.id %}">Gain</button>
	      </div>
	    </div>
	  </div>
	</div>
	{% endfor %}
	{% endif %}
      </div>
    </div>

  </ul>
  {% endif %}

  <div id="spirit-discard-deck-{{player.id}}"
       hx-target="#spirit-discard-deck-{{player.id}}"
       hx-swap="outerHTML">
    <button class="btn" hx-get="{% url 'discard_pile' player.id %}">Show Power Discard Pile</button>
  </div>

</div>
