{% load static %}
<div id="spirit-image-{{player.id}}"
     class="content spirit-image"
     hx-target="#spirit-image-{{player.id}}"
     hx-swap="outerHTML">
  <div style="position: relative">
    {% for presence in player.presence_set.all %}
    <a style="cursor: pointer" hx-post="{% url 'toggle_presence' player.id presence.left presence.top %}">
      <img style="position: absolute; left: {{presence.left}}px; top: {{presence.top}}px; opacity: {{presence.opacity}};" src="{% static player.disk_url %}" width="90" height="90" />
    </a>
    {% endfor %}
    {% if player.aspect %}
      <img style="position: absolute; left: {{player.aspect_left}}px; top: {{player.aspect_top}}px;" src="{% static player.aspect_url %}" width="370" height="230" />
    {% endif %}
    <img src="{% static player.spirit.url %}" width="957" height="630" />
  </div>

  {% include "player.html" %}
</div>
