{% load static %}
<div id="spirit-image-{{player.id}}"
     class="content"
     hx-target="#spirit-image-{{player.id}}"
     hx-swap="outerHTML">
  <div class="spirit-image">
    <div style="position: relative">
      {% for presence in player.presence_set.all %}
      <a style="cursor: pointer" hx-post="{% url 'toggle_presence' player.id presence.left presence.top %}">
	<img style="position: absolute; left: {{presence.left}}px; top: {{presence.top}}px; opacity: {{presence.opacity}};" src="{% static player.disk_url %}" width="90" height="90" />
      </a>
      {% endfor %}
      {% if player.aspect %}
      <img style="position: absolute; left: {{player.aspect_left}}px; top: {{player.aspect_top}}px;" src="{% static player.aspect_url %}" width="370" height="230" />
      {% endif %}
      {% if player.spirit.name == 'Waters' %}
	{% for card in player.healing.all %}
	  {% if card.name == 'Waters Renew' %}
            <img style="position: absolute; left: 650px; top: 350px; clip-path: inset(70px 20px 110px 20px);" src="{% static card.url %}" width="320" height="380" />
	  {% elif card.name == 'Waters Taste of Ruin' %}
            <img style="position: absolute; left: 350px; top: 350px; clip-path: inset(70px 20px 110px 20px);" src="{% static card.url %}" width="320" height="380" />
	  {% else %}
            <img style="position: absolute; left: 10px; top: 10px;" src="{% static card.url %}" width="260" height="350" />
	  {% endif %}
	{% endfor %}
      {% endif %}
      {% for threshold in player.thresholds %}
      {% if threshold.achieved %}
      <img style="position: absolute; left: {{threshold.x}}px; top: {{threshold.y}}px;" src="{% static "pbf/green.png" %}" width="20" height="20" />
      {% else %}
      <img style="position: absolute; left: {{threshold.x}}px; top: {{threshold.y}}px;" src="{% static "pbf/red.svg" %}" width="20" height="20" />
      {% endif %}
      {% endfor %}
      <img src="{% static player.spirit.url %}" width="957" height="630" />
    </div>
  </div>

  {% if player.ready %}
  <button class="btn"
	  style="background-color: #8a8;"
	  hx-get="{% url 'discard_all' player.id %}">Ready! Click to Discard All Played and Unready</button>
  {% else %}
  <button class="btn"
	  hx-get="{% url 'ready' player.id %}"
	  style="background-color: #a88;"
	  >Not Ready</button>
  {% endif %}

  <br/>

  {% include "elements.html" %}
  {% include "energy.html" %}

  {% if player.selection.count > 0 %}
  <p>
  <h4>Selection:</h4>
  <ul>
    <div class="container-fluid">
      <div class="row">
	{% for card in player.selection_cards %}
	<div class="col-auto">
	  <div class="w-100 w-md-200 mw-full">
	    <div class="card p-0 m-5 m-md-10">
	      <div style="position: relative">
		{% for threshold in card.computed_thresholds %}
		{% if threshold.achieved %}
		<img style="position: absolute; left: {{threshold.x}}%; top: {{threshold.y}}%; width: 2vmin; height: 2vmin;" src="{% static "pbf/green.png" %}" />
		{% else %}
		<img style="position: absolute; left: {{threshold.x}}%; top: {{threshold.y}}%; width: 2vmin; height: 2vmin;" src="{% static "pbf/red.svg" %}" />
		{% endif %}
		{% endfor %}
		<img src="{% static card.url %}" class="img-fluid rounded-top" alt="{{card.name}}">
	      </div>
	      <div class="text-center pb-5">
		<button class="btn" hx-get="{% url 'choose_card' player.id card.id %}">Choose</button>
		{% if player.spirit.name == 'Fractured' %}
		<button class="btn" hx-get="{% url 'send_days' player.id card.id %}">Send to Days</button>
		{% endif %}
	      </div>
	    </div>
	  </div>
	</div>
	{% endfor %}
      </div>
    </div>
  </ul>
  {% else %}
  <p>Gain Minor: <button class="btn" hx-get="{% url 'gain_power' player.id 'minor' '4' %}">4 Cards</button> <button class="btn" hx-get="{% url 'gain_power' player.id 'minor' '6' %}">6 Cards</button> <button class="btn" hx-get="{% url 'take_power' player.id 'minor' %}">Take Minor Power</button>
  <p>Gain Major: <button class="btn" hx-get="{% url 'gain_power' player.id 'major' '4' %}">4 Cards</button> <button class="btn" hx-get="{% url 'gain_power' player.id 'major' '2' %}">2 Cards</button> <button class="btn" hx-get="{% url 'take_power' player.id 'major' %}">Take Major Power</button>
  {% if player.spirit.name == 'Waters' %}
  <p>Gain Healing Card: <button class="btn" hx-get="{% url 'gain_healing' player.id %}">Gain Healing Card</button>
  {% endif %}
  {% endif %}

  <p>
  <h4>Play/Hand:</h4>
  <ul>
    <div class="container-fluid">
      <div class="row">
	{% for card in player.play_cards %}
	<div class="col-auto">
	  <div class="w-100 w-md-200 mw-full">
	    <div class="card p-0 m-5 m-md-10" style="background-color: #040;">
	      <div style="position: relative">

		{% for threshold in card.computed_thresholds %}
		{% if threshold.achieved %}
		<img style="position: absolute; left: {{threshold.x}}%; top: {{threshold.y}}%; width: 2vmin; height: 2vmin;" src="{% static "pbf/green.png" %}" />
		{% else %}
		<img style="position: absolute; left: {{threshold.x}}%; top: {{threshold.y}}%; width: 2vmin; height: 2vmin;" src="{% static "pbf/red.svg" %}" />
		{% endif %}
		{% endfor %}

		<img src="{% static card.url %}" class="img-fluid rounded-top" alt="{{card.name}}">
	      </div>
	      <div class="text-center pb-5">
		<button class="btn" hx-get="{% url 'unplay_card' player.id card.id %}">Unplay</button>
		<button class="btn" hx-get="{% url 'discard_card' player.id card.id %}">Discard</button>
		<button class="btn" hx-get="{% url 'forget_card' player.id card.id %}" hx-confirm="Are you sure?">Forget</button>
	      </div>
	    </div>
	  </div>
	</div>
	{% endfor %}
	{% for card in player.hand_cards %}
	<div class="col-auto">
	  <div class="w-100 w-md-200 mw-full">
	    <div class="card p-0 m-5 m-md-10">
	      <div style="position: relative">

		{% for threshold in card.computed_thresholds %}
		{% if threshold.achieved %}
		<img style="position: absolute; left: {{threshold.x}}%; top: {{threshold.y}}%; width: 2vmin; height: 2vmin;" src="{% static "pbf/green.png" %}" />
		{% else %}
		<img style="position: absolute; left: {{threshold.x}}%; top: {{threshold.y}}%; width: 2vmin; height: 2vmin;" src="{% static "pbf/red.svg" %}" />
		{% endif %}
		{% endfor %}

		<img src="{% static card.url %}" class="img-fluid rounded-top" alt="{{card.name}}">
	      </div>
	      <div class="text-center pb-5">
		<button class="btn" hx-get="{% url 'play_card' player.id card.id %}">Play</button>
		{% if player.spirit.name == 'Earthquakes' %}
		<button class="btn" hx-get="{% url 'impend_card' player.id card.id %}">Impend</button>
		{% endif %}
		<button class="btn" hx-get="{% url 'discard_card' player.id card.id %}">Discard</button>
		<button class="btn" hx-get="{% url 'forget_card' player.id card.id %}" hx-confirm="Are you sure?">Forget</button>
	      </div>
	    </div>
	  </div>
	</div>
	{% endfor %}
      </div>
    </div>
  </ul>

  {% if player.spirit.name == 'Earthquakes' %}
  <p>
  <h4>Impending:</h4>
  <ul>
    <div class="container-fluid">
      <div class="row">
	{% for card in player.impending.all %}
	<div class="col-auto">
	  <div class="w-100 w-md-200 mw-full">
	    <div class="card p-0 m-5 m-md-10">
	      <img src="{% static card.url %}" class="img-fluid rounded-top" alt="{{card.name}}">
	      <div class="text-center pb-5">
		<button class="btn" hx-get="{% url 'play_from_impending' player.id card.id %}">Play</button>
	      </div>
	    </div>
	  </div>
	</div>
	{% endfor %}
      </div>
    </div>

  </ul>
  {% endif %}

  <p>
  <h4>Discard:</h4>
  <ul>
    {% if player.discard.count > 0 %}
    <button class="btn" hx-get="{% url 'reclaim_all' player.id %}">Reclaim All</button>
    {% endif %}


    <div class="container-fluid">
      <div class="row">
	{% for card in player.discard.all %}
	<div class="col-auto">
	  <div class="w-100 w-md-200 mw-full">
	    <div class="card p-0 m-5 m-md-10">
	      <img src="{% static card.url %}" class="img-fluid rounded-top" alt="{{card.name}}">
	      <div class="text-center pb-5">
		<button class="btn" hx-get="{% url 'reclaim_card' player.id card.id %}">Reclaim</button>
		<button class="btn" hx-get="{% url 'forget_card' player.id card.id %}" hx-confirm="Are you sure?">Forget</button>
	      </div>
	    </div>
	  </div>
	</div>
	{% endfor %}
      </div>
    </div>

  </ul>

  {% if player.spirit.name == 'Fractured' %}
  <p>
  <h4>Days That Never Were:</h4>
  <ul>
    <div class="container-fluid">
      <div class="row">
	{% if player.days_ordered.count == 0 %}
	<button class="btn" hx-get="{% url 'create_days' player.id 6 %}">Create Days (1 or 2 player game)</button><br>
	<button class="btn" hx-get="{% url 'create_days' player.id 4 %}">Create Days (3+ player game)</button>
	{% else %}
	{% for card in player.days_ordered.all %}
	<div class="col-auto">
	  <div class="w-100 w-md-200 mw-full">
	    <div class="card p-0 m-5 m-md-10">
	      <img src="{% static card.url %}" class="img-fluid rounded-top" alt="{{card.name}}">
	      <div class="text-center pb-5">
		<button class="btn" hx-get="{% url 'choose_days' player.id card.id %}">Gain</button>
	      </div>
	    </div>
	  </div>
	</div>
	{% endfor %}
	{% endif %}
      </div>
    </div>

  </ul>
  {% endif %}

  <div id="spirit-discard-deck-{{player.id}}"
       hx-target="#spirit-discard-deck-{{player.id}}"
       hx-swap="outerHTML">
    <button class="btn" hx-get="{% url 'discard_pile' player.id %}">Show Power Discard Pile</button>
  </div>

  {% include "name.html" %}

</div>
