{% load static %}

<p>
<h4>{{ name }} deck ({{ cards | length }} cards):</h4>
<{{button_or_a}} class="btn" onClick="document.getElementById('{{name}}-deck').innerHTML='';">Close</{{button_or_a}}>
<ul>
  <div class="container-fluid">
    <div class="row">
      {% for card in cards %}
      <div class="col-auto">
        <div class="w-md-150">
          <img src="{% static card.url %}" class="img-fluid rounded-top" alt="{{card.name}}">
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</ul>
<{{button_or_a}} class="btn" onClick="document.getElementById('{{name}}-deck').innerHTML='';">Close</{{button_or_a}}>
</p>
