name: Django test
on:
  pull_request:
  push:
    branches:
      - master
  schedule:
    # Weekly.
    - cron: "0 0 * * 0"

jobs:
  test:
    strategy:
      matrix:
        python-version:
          - '3.12'
          - '3.13'
          - '3.14'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - run: pip install uv
      - run: uv sync --no-dev
      - run: uv run --no-dev --locked ./manage.py migrate
        env:
          IPC_METHOD: socket # if IPC_METHOD=redis, redis packages need to be installed
      - run: uv run --no-dev --locked ./manage.py test
