name: type check
on:
  pull_request:
  push:
    branches:
      - master
  schedule:
    # Weekly.
    - cron: "0 0 * * 0"

jobs:
  test:
    strategy:
      matrix:
        python-version:
          - '3.12'
          # unlikely to see any changes in type checking between oldest and newest,
          # so just those two will suffice
          - '3.14'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - run: pip install uv
      - run: uv sync --no-dev --group typecheck
      - run: uv run --no-dev --locked mypy .
      - run: uv run --no-dev --locked mypy pbf/{admin,models,views}.py --strict
